---
import Base from "../layouts/Base.astro";
import Columns from "../components/Columns.astro";
import Card from "../components/Card.astro";
import HeadingPill from "../components/HeadingPill.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
import Titles from "../components/Titles.astro";
---

<Base>
  <section class="full">
    <Columns cols="2">
      <div class="sec-button">
        <Titles title="Our core values & principles" text="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps." />
        <Button title="Get in touch" />
      </div>
    </Columns>

    <Columns cols="4">
      <Card title="Creative Ideas" variant="original" />
      <Card title="Best Features" variant="original" />
      <Card title="Experience" variant="original" />
      <Card title="Easy Solutions" variant="original" />
    </Columns>

    <style>
      section {
        display: grid;
        grid:
          auto /
          [full-start] 1fr
          [content] minmax(0, var(--content-width))
          1fr [full-end];
        gap: 6rem 4rem;

        padding: 6.25rem;

        > * {
          grid-column: content;
        }

        .full {
          grid-column: full;
        }
      }

      .full {
        background: #f5f5f5;
      }

      .sec-button {
        display: flex;
        width: 74.875rem;
        align-items: flex-end;
        gap: 22rem;
      }
    </style>
  </section>
</Base>
