---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import Columns from "../components/Columns.astro";
import HeadingPill from "../components/HeadingPill.astro";
import Titles from "../components/Titles.astro";
import Checkmark from "../components/Checkmark.astro";
import ContactSection from "../components/ContactSection.astro";
import Brands from "../components/Brands.astro";
import Video2 from "../components/Video2.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import { Icon } from "astro-icon/components";
---

<Base>
  <div class="containerabout full">
    <img src="../images/service-hero.jpg" alt="heroimage" class="imghero" />

    <div class="services">
      <HeadingPill variant="yellow" title="Service sINGLE" />
      <Titles title="Services Details" tekst="" />
    </div>
  </div>

  <section class="full">
    <div>
      <Columns cols="3">
        <Icon name="coloredchart" />
      </Columns>
      <div class="secbutton">
        <Titles title="Our core values & principles" text="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps." />
        <div class="arrow-container">
          <Icon name="arrow-round-bl" />
          <Icon name="arrow-round-yl" />
        </div>
      </div>
    </div>
    <ScrollingContainer />
  </section>

  <section class="firstflex">
    <div>
      <figure>
        <img src="../images/imgpattern2.jpg" alt="" class="h2img" />
      </figure>
    </div>
    <div class="space">
      <Columns cols="2">
        <HeadingPill variant="yellow" title="we'll work with you" />
      </Columns>
      <Titles title="What To Expect" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
      <Checkmark />
    </div>
  </section>
  <Brands />

  <section class="full" id="bg-bl">
    <div class="centered">
      <HeadingPill title="Our history" variant="green" />

      <Titles variant="white" title="Strategy for Every Stage in the Client's Journey" />
    </div>
    <Video2 />
  </section>
  <section>
    <Columns cols="2">
      <div>
        <Columns cols="3">
          <HeadingPill title="Proccess" variant="yellow" />
        </Columns>
        <Titles title="Contact Us. It’s Easy." text="Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative." />
        <ContactSection />
      </div>

      <img style="width:400px" src="../images/temporary3.jpg" alt="img with pattern" />
    </Columns>
    <section>
      <img class="accordion" src="../images/accordion.jpg" alt="temporary" />
    </section>
  </section>

  <style>
    .firstflex {
      display: flex;
      flex-flow: row;
      padding: 3rem;
    }
    .secbutton {
      display: flex;

      width: 74.875rem;
      align-items: flex-end;
      gap: 22rem;
    }
    section {
      padding: 6.25rem;
      display: grid;
      grid:
        auto /
        [full-start] 1fr
        [content] minmax(0, var(--content-width))
        1fr [full-end];
      gap: 6rem 4rem;

      > * {
        grid-column: content;
      }

      .full {
        grid-column: full;
      }
    }

    .full {
      background: #f5f5f5;
    }

    #bg-bl {
      background: #181818;
    }

    figure {
      width: 400px;
      height: auto;
      position: relative;

      &::before {
        --square-count: 10;
        z-index: -1;
        content: "";
        position: absolute;
        inset: -50px -50px auto auto;
        inline-size: calc(var(--square-count) * 1.34rem - 0.67rem);
        aspect-ratio: 1;
        background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / 1.34rem 1.34rem,
          var(--square-pattern) 0.67rem 0.67rem / 1.34rem 1.34rem;
      }

      &::after {
        content: "";
        position: absolute;
        right: -1rem;
        top: -1rem;
        background: green;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        z-index: -1;
      }
    }

    .h2img {
      border-radius: 1.2rem;
    }

    .centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6875rem;
      text-align: center;
    }

    .arrow-container {
      display: flex;
      align-items: flex-start;
      gap: 1.625rem;
    }

    .space {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }

    .containerabout {
      display: grid;
      place-items: center;
    }
    .imghero {
      width: 120%;
      height: 100%;
    }
    .imghero,
    .services {
      grid-area: 1 / 1;
    }
    .services {
      padding: 3rem 3.75rem 3.625rem 3.75rem;
      border-radius: 1.8125rem;
      background: rgba(255, 255, 255, 0.85);

      backdrop-filter: blur(5.5px);
      display: inline-flex;

      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
    }

    [data-icon="coloredchart"] {
      width: 6.58675rem;
      height: 4.44144rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.375rem;
      margin-bottom: 1.375rem;
    }
    [data-icon="arrow-round-bl"] {
      width: 4.34594rem;
      height: 4.34594rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.375rem;
      margin-bottom: 1.375rem;
    }
    [data-icon="arrow-round-yl"] {
      width: 4.34594rem;
      height: 4.34594rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.375rem;
      margin-bottom: 1.375rem;
    }
  </style>
</Base>
