---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import Columns from "../components/Columns.astro";
import HeroImage from "../components/HeroImage.astro";
import Card from "../components/Card.astro";
import TeamCard from "../components/TeamCard.astro";
import HeadingPill from "../components/HeadingPill.astro";
import Button from "../components/Button.astro";
import Titles from "../components/Titles.astro";
import Checkmark from "../components/Checkmark.astro";
import Numbers from "../components/Numbers.astro";
import Video from "../components/Video.astro";
---

<Base>
  <HeroImage img="../images/team-hero.jpg" />

  <section>
    <div>
      <Columns cols="3">
        <HeadingPill title="Growing with our Clients" variant="yellow" />
      </Columns>
      <div class="secbutton">
        <Titles title="Our core values & principles" text="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps." />
        <Button title="Get in touch" />
      </div>
    </div>

    <Columns cols="3">
      <TeamCard img="../images/sarah.jpg" position=" CEO at Company" variant="yellow" name="Sarah Jasmine" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
      <TeamCard img="../images/john.jpg" position="Manager" variant="black" name="John Carter" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
      <TeamCard img="../images/daisy.jpg" position="CEO at Company" variant="black" name="Daisy Stella" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
    </Columns>
    <Columns cols="3">
      <TeamCard img="../images/maya.jpg" position="CEO at Company" variant="black" name="Maya Elizabeth" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
      <TeamCard img="../images/ryan.jpg" position="CEO at Company" variant="black" name="Ryan Jackson" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
      <TeamCard img="../images/lilly.jpg" position="CEO at Company" variant="black" name="Lilly Victoria" text="Leverage agile frameworks to provide a robust synopsis for high level overviews." />
    </Columns>
  </section>
</Base>
<section>
  <img src="../images/newsletter.jpg" alt="temporary" />
</section>

<style>
  .firstflex {
    display: flex;
    flex-flow: row;
    padding: 3rem;
  }

  .secbutton {
    display: flex;

    width: 74.875rem;
    align-items: flex-end;
    gap: 22rem;
  }
  section {
    padding: 6.25rem;
    display: grid;
    grid:
      auto /
      [full-start] 1fr
      [content] minmax(0, var(--content-width))
      1fr [full-end];
    gap: 6rem 4rem;

    > * {
      grid-column: content;
    }

    .full {
      grid-column: full;
    }
  }

  .full {
    background: #f5f5f5;
  }

  figure {
    width: 400px;
    height: auto;
    position: relative;

    &::before {
      --square-count: 10;
      z-index: -1;
      content: "";
      position: absolute;
      inset: -50px -50px auto auto;
      inline-size: calc(var(--square-count) * 1.34rem - 0.67rem);
      aspect-ratio: 1;
      background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
      mask:
        var(--square-pattern) 0 0 / 1.34rem 1.34rem,
        var(--square-pattern) 0.67rem 0.67rem / 1.34rem 1.34rem;
    }

    &::after {
      content: "";
      position: absolute;
      right: -1rem;
      top: -1rem;
      background: green;
      width: 150px;
      height: 100px;
      border-radius: 10px;
      z-index: -1;
    }
  }

  .h2img {
    border-radius: 1.2rem;
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6875rem;
    text-align: center;
  }
</style>
