---
import "../styles/global.css";
import "../styles/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />


		 <!-- Cabin font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />

    <!-- Lato font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />

    <title>Astro</title>
  </head>
  <body>
    <header>

    </header>
    <main>
      <slot />
    </main>
<footer></footer>
  </body>
</html>

<style>

    header,
  footer {
    height: 80px;
    background: #000;
  }
  main {
    display: grid;
    grid:
      auto /
      [full-start] 1fr
      [content] minmax(0, var(--content-width))
      1fr [full-end];
    gap: 1rem;

    > * {
      grid-column: content;
    }

    .full {
      grid-column: full;
    }
  }
</style>
